<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
    <script src="static/semantic/jquery.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
</head>
<body>
    <form class="ui form">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>我同意本条款和条件</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
</body>
</html>